html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color:#fff;
    color:black;
    margin: 0;
    padding: 0;
    position: relative;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main{
    height: 100vh;
    width: 100%;
    background-position: top right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.main h1 {
    text-align: center;
    color: #0c0b0c;
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}
#homepage img{
    width: 500px; 
    height: 500px; 
    margin-left: 16px;
}
  
.main-content p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color:#111010;
    line-height: 30px;
    margin-bottom: 15px;
}

.home-img {
    width: 500px;
    height: 500px;
    margin-left: 16px;
    float: right; /* Align the image to the right */
}
.navList {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color:#fff;
  }
  .navList a{
    font-size: 1em;
    padding: 0 2rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: black;
    margin-left: 40px;
  }
  .navList a:hover{
    text-shadow: 3px 3px 20px,-2px 1px 30px;
  }

  .section-title{
    font-family: serif;
    position: relative;
    color: black;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 60px;
  }

.about{
    height: 100vh;
    width: 100%;
    background-position: top right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
}
.about h1{
    text-align: center;
    color: #0c0b0c;
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}
.about p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color:#111010;
    line-height: 30px;
    margin-bottom: 15px;
}
.memories h1{
    text-align: center;
    color: #0c0b0c;
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}

.memories .box-container .box .image {
    height: 30rem;
    overflow: hidden;
    position: relative;
  }
  
  .memories .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .memories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
  }
  
  .memories .box-container .box {
    background-color: var(--light-bg);
    padding: 1rem;
    box-shadow: var(--box-shadow);
  }
  
  .memories .box-container .box:hover .image img {
    transform: scale(1.2);
  }
  
  .memories .box-container .box .image .content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--light-bg);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
  }
  
  .memories .box-container .box .image .content h2 {
    font-size: 2rem;
    color: var(--white);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  
  .memories .box-container .box:hover .image .content {
    transform: translateY(0);
  }
  

/* skills */
.skills h1{
    text-align: center;
    color: #0c0b0c;
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}
.card-box {
    display:flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap:nowrap;
    width: 100%;
    margin-bottom: 30px;
  }

  .skills .skills-box {
    box-sizing: border-box;
    width: 200px;
    height: 320px;
    margin: 1px; 
    padding: 1px;
    border: 1px solid #ddd; 
    text-align:center;
    transition: transform 0.5s;
    font-size: 14px; 
  }
  
  .skills .skills-box:hover {
    transform: scale(1.05); 
  }
  
/* Hide the navbar with icons initially */
.navbar {
    display: none;
}

/* Media query for phones*/
@media (max-width: 700px) {
    .navList {
        display: none; /* Hide the regular navigation links */
    }
    .toggle-icon {
        display: block; /* Show the toggle icon */
        text-align: center;
        margin-top: 10px;
    }
    .toggle-icon i {
        font-size: 24px;
        cursor: pointer;
    }
    .toggle-icon i:hover {
        color: blue; /* Change color on hover if needed */
    }
    .navList.active {
        display: block; /* Show the dropdown menu when active */
    }
    /* Hide the regular navigation links on phone screens */
    .navList {
        display: none;
    }
    /* Show the navbar with icons on phone screens */
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center; /* Optional: Center the links vertically */
        background-color: white;
    }
    .navbar a {
        padding: 10px;
        text-align: center;
    }
    .main-content p {
        font-size: 14px; /* Decrease the font size for smaller screens */
        width: auto; /* Allow the text to wrap based on the screen width */
        padding: 0 10px; /* Add some padding to the sides for better readability */
    }
    .skills .skills-box {
        width: 100%; /* Set the width to 100% to make the boxes fill the available space */
        height: auto; /* Allow the height to adjust based on the content */
        margin: 10px; /* Add some margin around the boxes for spacing */
        padding: 10px; /* Add padding inside the boxes for spacing */
        font-size: 14px; /* Decrease the font size for smaller screens */
        box-sizing: border-box; /* Include padding and border in the box's total width and height */
    }
    .main h1 {
        font-size: 30px; /* Decrease the font size of the heading */
    }
    #homepage img {
        max-width: 100%; /* Make the image responsive */
        height: auto; /* Maintain the aspect ratio of the image */
        margin: 0 auto; /* Center the image */
        display: block; /* Ensure the image takes up the full width */
    }
    .main-content p {
        font-size: 14px; /* Decrease the font size of the paragraph */
        width: 90%; /* Adjust the width of the paragraph to fit within the viewport */
        margin: 0 auto; /* Center the paragraph */
    }
    .about h1 {
        font-size: 40px; /* צמצם את גודל הכותרת */
    }
    .about p {
        font-size: 14px; /* צמצם את גודל הפסקה */
        width: 80%; /* תאם את רוחב הפסקה כך שתתאים לרוחב המסך */
        margin: 0 auto; /* המרכז את הפסקה */
    }
    .skills h1 {
        font-size: 40px; /* צמצם את גודל הכותרת */
    }
    .card-box {
        flex-direction: column; /* שנה את כיוון האלמנטים לכיוון אנכי */
        align-items: center; /* מרכז את האלמנטים באופן אנכי */
    }
    .skills .skills-box {
        width: 90%; /* תאם את רוחב הקופסאות לרוחב המסך */
        margin: 10px 0; /* הוסף שוליים מעליונים ותחתונים */
    }
    .memories h1 {
        font-size: 40px; /* צמצם את גודל הכותרת */
    }
    .memories .box-container {
        grid-template-columns: repeat(auto-fit, minmax(90%, 1fr)); /* שנה את רוחב התאים כדי שימלאו את המסך */
        gap: 2rem; /* יצר רווח בין התאים */
    }
    .memories .box-container .box .image {
        height: 20rem; /* צמצם את גודל התמונה */
    }
}

.selected{
    background-color: beige;
}

/* Media query for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        padding: 0 20px; /* Add horizontal padding */
        overflow-x: hidden; /* Hide horizontal overflow */
    }
    .home-image {
        display: flex;
        align-items: center;
        max-width: 50%;
        margin: 0 auto;
    }
    
    .home-image img {
        max-width: 100%;
        height: 100px;
        display: block;
    }
    
    .main-content {
        max-width: 50%;
        padding: 0 10px;
        margin-left: 10px; /* יגדיר את המרחק בין התמונה לטקסט */
    }
    
    /* Adjust the font size of the main heading */
    .main h1 {
        font-size: 60px;
    }

    /* Adjust the font size of the paragraph */
    .main-content p {
        font-size: 30px;
        margin-bottom: 20px; /* Add some space between paragraphs */
    }
 
    .navList a {
        font-size: 1.3em;
        padding: 0 1rem; /* Add space between menu items */
        letter-spacing: 0.1rem;
        font-weight: 300;
        text-transform: uppercase;
        color: black;
        margin-left: 1rem;
        white-space: nowrap; /* Prevent menu items from wrapping */
    }
}



