html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color:#fff;
    color:black;
    margin: 0;
    padding: 0;
    position: relative;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main{
    height: 100vh;
    width: 100%;
    background-position: top right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main h1 {
    text-align: center;
    color: #0c0b0c;
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}
#homepage img{
    width: 500px; 
    height: 500px; 
    margin-left: 16px;
}
  
.main-content p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color:#111010;
    line-height: 30px;
    margin-bottom: 15px;
}

.home-img {
    width: 500px;
    height: 500px;
    margin-left: 16px;
    float: right; /* Align the image to the right */
}
.navList {
    align-items: center;
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000; 
  }
  .navList a{
    font-size: 1em;
    padding: 0 2rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: black;
    margin-left: 40px;
  }
  .navList a:hover{
    text-shadow: 3px 3px 20px,-2px 1px 30px;
  }

  .section-title{
    font-family: serif;
    position: relative;
    color: black;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 60px;
  }

.about{
    height: 100vh;
    width: 100%;
    background-position: top right;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about h1{
    text-align: center;
    color: #0c0b0c;
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}
.about p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color:#111010;
    line-height: 30px;
    margin-bottom: 15px;
}
.project h1{
    text-align: center;
    color: #0c0b0c;
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}

.project .box-container .box .image {
    height: 30rem;
    overflow: hidden;
    position: relative;
  }
  
  .project .box-container .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
  }
  
  .project .box-container .box {
    background-color: var(--light-bg);
    padding: 1rem;
    box-shadow: var(--box-shadow);
  }
  
  .project .box-container .box:hover .image img {
    transform: scale(1.2);
  }
  
  .project .box-container .box .image .content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--light-bg);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
  }
  
  .project .box-container .box .image .content h2 {
    font-size: 2rem;
    color: var(--white);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  
  .project .box-container .box:hover .image .content {
    transform: translateY(0);
  }
  

/* skills */
.skills h1{
    text-align: center;
    color: #0c0b0c;
    font-size: 50px;
    font-family: serif;
    text-transform: uppercase;
}
.card-box {
    display:flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap:nowrap;
    width: 100%;
    margin-bottom: 30px;
  }

  .skills .skills-box {
    box-sizing: border-box;
    width: 200px;
    height: 320px;
    margin: 1px; 
    padding: 1px;
    border: 1px solid #ddd; 
    text-align:center;
    transition: transform 0.5s;
    font-size: 14px; 
  }
  
  .skills .skills-box:hover {
    transform: scale(1.05); 
  }
  
  


    @media (max-width: 1024px) {
        
      }

      




        @media (max-width: 700px) {
            .navList {
                display: none; /* Hide the regular navigation links */
            }
            .toggle-icon {
                display: block; /* Show the toggle icon */
                text-align: center;
                margin-top: 10px;
            }
            .toggle-icon i {
                font-size: 24px;
                cursor: pointer;
            }
            .toggle-icon i:hover {
                color: blue; /* Change color on hover if needed */
            }
            .navList.active {
                display: block; /* Show the dropdown menu when active */
            }
        }